.intro{
    margin-bottom: 20px;
    @include media(1375){
        margin-bottom: 10px;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px 50px 60px 37px;
        @include media(1375){
            padding: 30px 0 30px 45px;
        }
        @include media(1024){
            padding: 15px 0 50px 35px;
        }
        @include media(767){
            padding: 17px 0 47px 35px;
        }
        @include media(575){
            position: relative;
            align-items: flex-start;
            min-height: 327px;
            height: 327px;
            padding: 15px 0 28px 21px;
        }
        @include media(424){
            min-height: 331px;
            height: 331px;
            padding: 19px 0 21px 6px;
        }
        @include media(374){
            min-height: 0;
            height: auto;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
    }
    &__title{
        font-family: GothamPro;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 100%;
        text-align: center;
        color: #141E2D;
        margin-bottom: 30px;
        @include media(1375){
            font-weight: 700;
            font-size: 54px;
            line-height: 110%;
            margin-bottom: 25px;
        }
        @include media(1024){
            font-weight: 700;
            font-size: 46px;
            line-height: 100%;
            margin-bottom: 10px;
        }
        @include media(767){
            font-size: 36px;
            line-height: 100%;
            margin-bottom: 19px;
        }
        @include media(575){
            font-size: 24px;
            line-height: 100%;
            margin-bottom: 0;
        }
        @include media(424){
            font-size: 22px;
            line-height: 100%;
        }
        span{
            position: relative;
            isolation: isolate;
            display: inline-block;
            &::before{
                content: '';
                position: absolute;
                background: url(../img/text-overlay.svg) center / cover no-repeat;
                background-size: 100% auto;
                width: 100%;
                height: 50px;
                left: 50%;
                transform: translateX(-50%);
                right: 0;
                bottom: -8px;
                z-index: -1;
                @include media(1024){
                    width: 100%;
                    height: 42px;
                }
                @include media(767){
                    width: 100%;
                    height: 30px;
                    bottom: -5px;   
                }
                @include media(575){
                    height: 40px;
                    bottom: -10px;
                }
            }
        }
    }
    &__describtion{
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        color: #000000;
        margin-bottom: 27px;
        @include media(1375){
            font-size: 22px;
            line-height: 100%;
            margin-bottom: 20px;
        }
        @include media(767){
            font-size: 18px;
            line-height: 100%;
            margin-bottom: 13px;
            max-width: 242px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        @include media(575){
            display: none;
        }
    }
    &__buttons{
        display: flex;
        align-items: stretch;
        column-gap: 22px;
        justify-content: center;
        @include media(767){
            column-gap: 10px;
        }
        @include media(575){
            display: none;
        }
    }
    &__button{
        font-weight: 400;
        font-size: 21px;
        line-height: 100%;
        color: #141E2D; 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 65px;
        background: #FFFFFF;
        border: 2px solid #141E2D;
        border-radius: 40px;
        transition: 300ms ease;
        @include media(1375){
            width: 165px;
            border: 1px solid #141E2D;
        }
        @include media(767){
            width: 103px;
            height: 38px;
            font-size: 18px;
            line-height: 100%;
        }
        &:hover{
            background: #F4F4F4;
        }       
    }
    &__left{
        min-width: 608px;
        width: 608px;
        padding-top: 130px;
        @include media(1375){
            padding-top: 91px;
            min-width: 514.4px;
            width: 514.4px;
        }
        @include media(1024){
            max-width: 427px;
            width: 427px;
            min-width: 427px;
            padding-top: 63px;
        }
        @include media(767){
            max-width: 314px;
            width: 314px;
            min-width: 314px;
            padding-top: 44px;
        }
        @include media(575){
            max-width: 228px;
            width: 228px;
            min-width: 228px;
            padding-top: 46px;
        }
        @include media(374){
            max-width: 100%;
            padding-top: 7px;
        }
    }
    &__img{
        transform: rotate(8.25deg);
        animation: rotate 2s infinite alternate linear;
        transform-origin: bottom;
        position: relative;
        left: -100px;
        max-width: 490px;
        @include media(1375){
            max-width: 455px;
            left: 0;
            width: 100%;
            min-width: 455px;
            margin-right: 35px;
            margin-left: -128px;
        }
        @include media(1024){
            max-width: 290px;   
            min-width: 290px; 
            margin-right: 15px;
            margin-top: 30px;
        }
        @include media(767){
            max-width: 230px;   
            min-width: 230px; 
        }
        @include media(575){
            position: absolute;
            right: 0;
            top: 15px;
            left: auto;
            animation: rotate-sm 2s infinite alternate linear;
            max-width: 169px;   
            min-width: 169px; 
        }
        @include media(424){
            right: 10px;
        }
        @include media(374){
            display: none;
        }
        img{
            width: 100%;
            @include media(1375){
                width: 100%;
            }
        }
    }
    &__bottom{
        padding: 0 46px 60px 0;
        @include media(1375){
            padding: 0 43px 50px 0;
        }
        @include media(1024){
            padding: 0 20px 40px 0;
        }
        @include media(767){
            padding: 0 22px 35px 0;
        }
        @include media(575){
            padding-bottom: 30px;
            padding-right: 0;
        }
        @include media(424){
            padding-bottom: 40px;
        }
    }
    &__right{
        @include media(575){
            width: 100%;
        }
    }
    &__content{
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 55px;
        @include media(1375){
            margin-bottom: 60px;
        }
        @include media(767){
            margin-bottom: 35px;
            column-gap: 35px;
        }
        @include media(575){
            display: flex;
            flex-direction: column;
        }
    }
    &__wrapper{
        &-img{
            @include media(1375){
                max-width: 468px;
                width: 100%;
            }
            @include media(1024){
                max-width: 340px;
            }
            @include media(767){
                max-width: 265px;
                min-width: 265px;
                margin-top: 70px;
            }
            @include media(575){
                margin-top: 0;
            }
            img{
                @include media(1375){
                    width: 100%;
                }
            }
        }
    }
    &__items{
        @include media(575){
            max-width: 212px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__subtitle{
        font-weight: 600;
        font-size: 47px;
        line-height: 100%;
        color: #141E2D;
        margin-bottom: 15px;
        margin-left: 46px;
        @include media(1375){
            font-weight: 600;
            font-size: 34px;
            line-height: 100%;
            margin-bottom: 90px;
            margin-left: 43px;
        }
        @include media(1024){
            font-weight: 600;
            font-size: 30px;
            line-height: 100%;
            margin-bottom: 77px;
            margin-left: 20px;
        }
        @include media(767){
            font-weight: 600;
            font-size: 27px;
            line-height: 100%;
            margin-bottom: 20px;
            margin-left: 22px;
        }
        @include media(575){
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            margin-left: 20px;
            margin-right: 20px;
        }
        &.disable-md{
            display: block;
            @include media(767){
                display: none;
            }
        }
        &.enable-md{
            display: none;
            @include media(767){
                display: block;
            }
        }
    }
    &__text{
        font-weight: 600;
        font-size: 33px;
        line-height: 100%;
        color: #141E2D;
        margin-bottom: 20px;
        @include media(1375){
            font-weight: 600;
            font-size: 24px;
            line-height: 100%;
            margin-bottom: 15px;
        }
        @include media(767){
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            margin-left: 22px;
        }
        @include media(575){
            font-weight: 600;
            font-size: 18px;
            line-height: 100%;
            margin-left: 20px;
            margin-right: 20px;
        }
        &.disable-md{
            display: block;
            @include media(767){
                display: none;
            }
        }
        &.enable-md{
            display: none;
            @include media(767){
                display: block;
            }
        }
    }
    &__desc{
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        color: #141E2D;
        margin-bottom: 45px;
        @include media(1375){
            font-size: 22px;
            line-height: 100%;
            margin-bottom: 25px;
        }
        @include media(767){
            font-weight: 400;
            font-size: 19px;
            line-height: 100%;
            margin-bottom: 20px;
            margin-left: 22px;
        }
        @include media(575){
            font-size: 16px;
            line-height: 100%;
            margin-left: 20px;
            margin-bottom: 0;
            margin-right: 20px;
        }
        &.disable-md{
            display: block;
            @include media(767){
                display: none;
            }
        }
        &.enable-md{
            display: none;
            @include media(767){
                display: block;
            }
        }
    }
    &__item{
        &:not(:last-of-type){
            margin-bottom: 35px;
            @include media(1375){
                margin-bottom: 30px;
            }
            @include media(1024){
                margin-bottom: 20px;
            }
            @include media(767){
                margin-bottom: 15px;
            }
            @include media(424){
                margin-bottom: 20px;
            }
        }
    }
    &__p{
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        color: #141E2D;
        @include media(1375){
            font-size: 22px;
            line-height: 100%;
        }
        @include media(767){
            font-size: 18px;
            line-height: 100%;
        }
        span{
            font-weight: 700;
            font-size: 60px;
            line-height: 100%;
            color: #141E2D;
            @include media(1375){
                font-weight: 700;
                font-size: 54px;
                line-height: 120%;
            }
            @include media(767){
                font-size: 36px;
                line-height: 120%;
            }
        }
        &:not(:last-of-type){
            margin-bottom: 5px;
        }
    }
    &__btn{
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        background: #5A0AA7;
        border: 2px solid #141E2D;
        border-radius: 40px;
        padding: 20px 125px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        transition: 300ms ease;
        @include media(1375){
            padding: 18px 40px;
            font-weight: 400;
            font-size: 22px;
            line-height: 100%;
            border: 1px solid #141E2D;
        }
        @include media(1024){
            padding: 18px 20px;
            border: 1px solid #141E2D;
        }
        @include media(767){
            padding: 10px 20px;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
        }
        @include media(575){
            font-size: 16px;
            line-height: 100%;
            padding: 10px 12px;
            font-size: 16px;
        }
        @include media(424){
            font-size: 15px;
            line-height: 18px;
            width: calc(100% - 40px);
        }
        &:hover{
            background: #EEE6F5;
            color: #141E2D;
        }  
    }
}

@keyframes rotate {
    0%{
        transform: rotate(3deg);
    }
    100%{
        transform: rotate(8.25deg);
    }
}
@keyframes rotate-sm {
    0%{
        transform: rotate(3deg);
    }
    100%{
        transform: rotate(8.25deg);
    }
}