mixin carousel-1()
    .carousel
        .carousel__container.container
            .carousel__inner
                p.carousel__title Курсы <span>по созданию игр на ПК</span> для детей и подростков
                .carousel__content 
                    .swiper.carousel__swiper
                        .swiper-wrapper.carousel__wrapper 
                            .swiper-slide.carousel__item
                                .carousel__item-header
                                    p.carousel__item-title Создание игр<br>в Roblox Studio
                                    .carousel__img 
                                        img(src="@img/roblox.svg", alt="" draggable="false")
                                p.carousel__item-p Roblox Studio - виртуальная платформа для создания 3D-игр всевозможных жанров.
                                .course__content 
                                    .course__item
                                        p.course__item-title Возраст
                                        p.course__item-p от 10 лет
                                    .course__item
                                        p.course__item-title Длительность курса
                                        p.course__item-p 8-64 урока
                                    .course__item
                                        p.course__item-title Уровень
                                        p.course__item-p Начальный
                                .carousel__bot
                                    a(href="course.html").btn_2.carousel__btn Узнать продробнее 
                            .swiper-slide.carousel__item
                                .carousel__item-header
                                    p.carousel__item-title Создание игр и мультфильмов в Scratch
                                    .carousel__img 
                                        img(src="@img/scratch.svg", alt="" draggable="false")
                                p.carousel__item-p Scratch - визуальная среда программированиия, которая позволяет создавать различные произведения из блоков — игры, мультфильмы. Первые шаги в программировании для детей!
                                .course__content 
                                    .course__item
                                        p.course__item-title Возраст
                                        p.course__item-p от 10 лет
                                    .course__item
                                        p.course__item-title Длительность курса
                                        p.course__item-p 8-64 урока
                                    .course__item
                                        p.course__item-title Уровень
                                        p.course__item-p Начальный
                                .carousel__bot
                                    a(href="course.html").btn_2.carousel__btn Узнать продробнее 
                            .swiper-slide.carousel__item
                                .carousel__item-header
                                    p.carousel__item-title Создание игр на Unity
                                    .carousel__img 
                                        img(src="@img/unity.svg", alt="" draggable="false")
                                p.carousel__item-p Unity — самая мощная платформа для разработки компьютерных игр с впечатляющим функционалом и графикой. 
                                .course__content 
                                    .course__item
                                        p.course__item-title Возраст
                                        p.course__item-p от 10 лет
                                    .course__item
                                        p.course__item-title Длительность курса
                                        p.course__item-p 8-64 урока
                                    .course__item
                                        p.course__item-title Уровень
                                        p.course__item-p Начальный
                                .carousel__bot
                                    a(href="course.html").btn_2.carousel__btn Узнать продробнее 

mixin carousel-2()
    .carousel
        .carousel__container.container
            .carousel__inner
                p.carousel__title Курсы <span>по программированию</span> для детей и подростков
                .carousel__content 
                    .swiper.carousel__swiper
                        .swiper-wrapper.carousel__wrapper 
                            .swiper-slide.carousel__item
                                .carousel__item-header
                                    p.carousel__item-title Основы программирования на Python
                                    .carousel__img 
                                        img(src="@img/python.svg", alt="" draggable="false")
                                p.carousel__item-p Python — мощный и многофункциональный язык программирования, на котором написаны все популярные площадки — от YouTube до Вконтакте. 
                                .course__content 
                                    .course__item
                                        p.course__item-title Возраст
                                        p.course__item-p от 10 лет
                                    .course__item
                                        p.course__item-title Длительность курса
                                        p.course__item-p 8-64 урока
                                    .course__item
                                        p.course__item-title Уровень
                                        p.course__item-p Начальный
                                .carousel__bot
                                    a(href="course.html").btn_2.carousel__btn Узнать продробнее 
                            .swiper-slide.carousel__item
                                .carousel__item-header
                                    p.carousel__item-title Создание сайтов на HTML/CSS/JS. Web-Disign в Figma и Tilda
                                    .carousel__img 
                                        img(src="@img/json.svg", alt="" draggable="false")
                                p.carousel__item-p Обязательная база любого специалиста по разработке сайтов — языки программирования HTML/CSS/JS. А также базовые знания дизайна для проектирования сайтов.
                                .course__content 
                                    .course__item
                                        p.course__item-title Возраст
                                        p.course__item-p от 10 лет
                                    .course__item
                                        p.course__item-title Длительность курса
                                        p.course__item-p 8-64 урока
                                    .course__item
                                        p.course__item-title Уровень
                                        p.course__item-p Начальный
                                .carousel__bot
                                    a(href="course.html").btn_2.carousel__btn Узнать продробнее 
                            .swiper-slide.carousel__item
                                .carousel__item-header
                                    p.carousel__item-title Разработка мобильных приложений на Android
                                    .carousel__img 
                                        img(src="@img/android.svg", alt="" draggable="false")
                                p.carousel__item-p Создание мобильных приложений для Android в понятной для детей и подростков форме на платформе Thunkable. 
                                .course__content 
                                    .course__item
                                        p.course__item-title Возраст
                                        p.course__item-p от 10 лет
                                    .course__item
                                        p.course__item-title Длительность курса
                                        p.course__item-p 8-64 урока
                                    .course__item
                                        p.course__item-title Уровень
                                        p.course__item-p Начальный
                                .carousel__bot
                                    a(href="course.html").btn_2.carousel__btn Узнать продробнее 
mixin carousel-3()
    .carousel.last
        .carousel__container.container
            .carousel__inner
                p.carousel__title Курсы <span>по дизайну</span> для детей и подростков
                .carousel__content 
                    .swiper.carousel__swiper
                        .swiper-wrapper.carousel__wrapper 
                            .swiper-slide.carousel__item
                                .carousel__item-header
                                    p.carousel__item-title 3D-моделирование в Blender
                                    .carousel__img 
                                        img(src="@img/blender.svg", alt="" draggable="false")
                                p.carousel__item-p Blender — мощный софт для создания трехмерной графики, 3D-анимаций и игр. Программа позволяет создавать модели любой сложности. 
                                .course__content 
                                    .course__item
                                        p.course__item-title Возраст
                                        p.course__item-p от 10 лет
                                    .course__item
                                        p.course__item-title Длительность курса
                                        p.course__item-p 8-64 урока
                                    .course__item
                                        p.course__item-title Уровень
                                        p.course__item-p Начальный
                                .carousel__bot
                                    a(href="course.html").btn_2.carousel__btn Узнать продробнее 
                            .swiper-slide.carousel__item
                                .carousel__item-header
                                    p.carousel__item-title Создание сайтов на HTML/CSS/JS. Web-Disign в Figma и Tilda
                                    .carousel__img 
                                        img(src="@img/json.svg", alt="" draggable="false")
                                p.carousel__item-p Обязательная база любого специалиста по разработке сайтов — языки программирования HTML/CSS/JS. А также базовые знания дизайна для проектирования сайтов.
                                .course__content 
                                    .course__item
                                        p.course__item-title Возраст
                                        p.course__item-p от 10 лет
                                    .course__item
                                        p.course__item-title Длительность курса
                                        p.course__item-p 8-64 урока
                                    .course__item
                                        p.course__item-title Уровень
                                        p.course__item-p Начальный
                                .carousel__bot
                                    a(href="course.html").btn_2.carousel__btn Узнать продробнее 