mixin direction()
    section.section.choice 
        .section__container.container
            .section__inner.choice__inner 
                .direction 
                    .direction__body 
                        h2.direction__title Выберете направление курса
                        .direction__list
                            button(type="button").direction__button.active Создание игр на ПК
                            button(type="button").direction__button Программирование и анализ данных
                            button(type="button").direction__button Дизайн
                        .direction__row 
                            .direction__items 
                                .direction__item
                                    .direction__item-left 
                                        h2.direction__subtitle Создание игр в Roblox Studio
                                        .direction__info    
                                            p.direction__p от 600 руб./занятие
                                            p.direction__p от 10 лет
                                    .direction__item-img 
                                        img(src="@img/direction-img-1.svg", alt="")
                                .direction__item
                                    .direction__item-left 
                                        h2.direction__subtitle Создание игр и мультфильмов в Scratch
                                        .direction__info    
                                            p.direction__p от 900 руб./занятие
                                            p.direction__p от 5 лет
                                    .direction__item-img 
                                        img(src="@img/direction-img-2.svg", alt="")
                                .direction__item
                                    .direction__item-left 
                                        h2.direction__subtitle Создание игр в Unity
                                        .direction__info    
                                            p.direction__p от 600 руб./занятие
                                            p.direction__p от 14 лет
                                    .direction__item-img 
                                        img(src="@img/direction-img-3.svg", alt="")
                            .direction__right 
                                p.direction__desc Какой ребенок не любит компьютерные игры? Мы предлагаем сделать этот процесс полезнее -- создавать и играть в свои игры. Увлекательно и точно понравится каждому!
                                .direction__img 
                                    img(src="@img/direction-img-4.png", alt="")