mixin for()
    section.section.for.purple
        .section__container.container.for__container
            .section__inner.for__inner 
                .for__img 
                    img(src="@img/gamepad.svg", alt="gamepad" draggable="false")
                .for__item.first
                    p.for__title Кому подойдет курс?
                    p.for__p — Ребятам, увлекающимся видеоиграми.<br>— Мечтающим создать свою собственную игру.<br>— Начинающим свой путь обучения программированию.<br>— Продолжающим изучать программирование.
                .for__item 
                    p.for__title Что узнает ребенок?
                    p.for__p На курсе ребенок создаст собственные игры, создаст вселенную и обучит персонажей. Помимо развлекательных игр, он обучится базовым навыкам программирования на языке Lua, научится моделировать 3D-объекты, внедрять монетизацию проекта и поймет игровую логику.  
                .for__item 
                    p.for__title Программа курса
                    p.for__p Можно посмотреть здесь.
                .for__item 
                    p.for__title Что нужно для занятий?
                    p.for__p — Компьютер/ноутбук с предустановленным Zoom и программой курса.<br>— Стабильное интернет-соединение.<br>— Микрофон и камера.<br>— Мышка (мы не рекомендуем использовать сенсорную панель).
