mixin how()
    section.section.how.green
        .section__container.container.how__container
            .section__inner.how__inner 
                h2.how__title Как проходит урок?
                p.how__p Все уроки мы проводим онлайн. Можно заниматься, где удобно — дома, на отдыхе, на даче у бабушки. Нужен только стабильный доступ к Интернету. 
                .how__img.gif 
                    img(src="@img/videourok.gif", alt="" draggable="false")
