mixin lessons()
    section.section.about 
        .section__container.container
            .section__inner.about__inner
                .lessons
                    .lessons__body 
                        h2.lessons__title Вот так мы проводим наши уроки
                        .lessons__wrapper 
                            .lessons__item 
                                .lessons__img 
                                    img(src="@img/lessons-img-1.png", alt="" draggable="false")
                                .lessons__img.xxl
                                    img(src="@img/lessons-img-1-xxl.png", alt="" draggable="false")
                                .lessons__right 
                                    p.lessons__p Усаживаемся поудобнее, включаем камеру и приветствуем друг друга. 
                                    .lessons__arrow 
                                        img(src="@img/lessons-arrow-1.svg", alt="" draggable="false")
                            .lessons__item 
                                .lessons__right 
                                    p.lessons__p Обсуждаем план занятия с учетом пожеланий ребенка.
                                    .lessons__arrow 
                                        img(src="@img/lessons-arrow-2.png", alt="" draggable="false")
                                .lessons__img 
                                    img(src="@img/lessons-img-2.png", alt="" draggable="false")
                                .lessons__img.xxl
                                    img(src="@img/lessons-img-2-xxl.png", alt="" draggable="false")
                            .lessons__item 
                                .lessons__img 
                                    img(src="@img/lessons-img-3.png", alt="" draggable="false")
                                .lessons__img.xxl
                                    img(src="@img/lessons-img-3-xxl.png", alt="" draggable="false")
                                .lessons__right 
                                    p.lessons__p Приступаем к практической части и воплощаем свои идеи!
                                    .lessons__arrow 
                                        img(src="@img/lessons-arrow-3.png", alt="" draggable="false")
                .learn
                    .learn__body 
                        h2.learn__title Вот, что научится делать ваш ребенок
                        .slider.learn__slider 
                            .swiper.learn__swiper 
                                .swiper-wrapper.learn__swiper-wrapper 
                                    .swiper-slide.learn__swiper-slide 
                                        .learn__img.gif 
                                            img(src="@img/roblox-course.gif", alt="" draggable="false") 
                                        p.learn__p Полноценные игровые миры в Roblox Studio
                                    .swiper-slide.learn__swiper-slide 
                                        .learn__img.gif 
                                            img(src="@img/3dmodelling-course.gif", alt="" draggable="false")
                                        p.learn__p Сюжетные игры и мультфильмы для самых маленьких в Scratch
                                    .swiper-slide.learn__swiper-slide 
                                        .learn__img.gif 
                                            img(src="@img/python-course.gif", alt="" draggable="false")
                                        p.learn__p Компьютерные технологии и азы программирования на Python
                                    .swiper-slide.learn__swiper-slide 
                                        .learn__img.gif 
                                            img(src="@img/3dmodelling-course.gif", alt="" draggable="false")
                                        p.learn__p Моделирование объектов и персонажей в Blender