mixin popups()
    .popup.purple#thank
        .popup__overlay.close-popup
        .popup__body 
            .popup__inner 
                p.popup__title Спасибо!
                p.popup__p В скором времени мы свяжемся с вами.