mixin qa()
    .qa 
        .qa__body.container-lg 
            .qa__content 
                p.qa__title Вопросы? С удовольствием ответим!
                p.qa__p Опишите, пожалуйста, ваш вопрос.
                form(action="#").qa__form.form
                    input(type="text" placeholder="Ваше имя" required).qa__input
                    input(type="email" placeholder="Почта" required).qa__input
                    textarea(placeholder="Опишите ваш вопрос" required).qa__textarea
                    button(type="submit").btn.qa__btn Оставить заявку
                    p.qa__form-p Оставляя заявку, вы принимаете оферту, условия договора на оказание услуг и политики обработки пресональных данных. 
            .qa__img 
                img(src="@img/qa.svg", alt="" draggable="false")
