doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")
        title Кто мы - Code It
    body 
        .wrapper 
            include components/header 
            +header('who') 
            main.main 
                .who
                    .who__body.container-lg 
                        .who__top
                            p.title Наши ценности
                            p.who__desc Школа Code it! — это место бесконечного творчества и новых решений. Наши программы обучения способствуют формированию цифровой грамотности, функционального и визуального мышления, развитию IT-компетенций и пониманию вычислительных систем. <br><br>Наше будущее неразрывно связано с развитием информационных технологий. Поэтому наша задача — наделить каждого нашего ученика навыками и умениям, которые помогут адаптироваться к постоянно меняющемуся миру. Несмотря на то, что каждый курс имеет свои цели обучения с точки зрения стека знаний, все они имеют общие цели. 
                        .who__info 
                            .who__info-top
                                .who__info-user 
                                    .who__info-user-img 
                                        img(src="@img/person-1.png", alt="" draggable="false")
                                    .who__info-user-content 
                                        p.who__info-user-name Чугаева Елена
                                        p.who__info-user-p генеральный директор. <br>преподаватель, методист
                                quote.who__info-user-quote “Моя мечта — заложить в каждом ребенке возможность стать успешным специалистом в области информационных технологий, чтобы в будущем он смог служить на благо своей страны.”
                            .who__info-bot
                                .who__info-col
                                    .who__info-item 
                                        p.who__info-item-title Образование
                                        p.who__info-item-p Экономический факультет Чувашского государственного университета им. И.Н. Ульянова. 
                                    .who__info-item 
                                        p.who__info-item-title Опыт работы
                                        p.who__info-item-p Более 3х лет работы в крупной IT-компании в команде разработки, в том числе на руководящей должности. <br><br>До основания школы преподавала программирование детям и подросткам.
                                .who__info-col
                                    .who__info-item 
                                        p.who__info-item-title Стек
                                        p.who__info-item-p HTML4, Python, SQL, XML, LUA. <br><br>Разработала методички по Scratch, Roblox Studio, Python и мобильной разработке. <br><br>Обучила программированию 100+ учеников.
                                    .who__info-item 
                                        p.who__info-item-title Интересы
                                        p.who__info-item-p Увлекаюсь программированием, особенно разработкой игр. В свободное время занимаюсь иллюстрацией. Веду активный образ жизни.        
                            quote.who__info-user-quote.md “Моя мечта — заложить в каждом ребенке возможность стать успешным специалистом в области информационных технологий, чтобы в будущем он смог служить на благо своей страны.”
                    .who__body.container-lg
                        .who__top.who__top_mb35
                            p.title Наша команда
                        .who__command 
                            .who__command-item 
                                .who__command-item-img 
                                    img(src="@img/person-1.png", alt="" draggable="false")
                                .who__command-item-content 
                                    p.who__command-item-name Чугаева Елена
                                    p.who__command-item-p преподаватель курсов Unity, Web-Design
                            .who__command-item 
                                .who__command-item-img 
                                    img(src="@img/person-2.png", alt="" draggable="false")
                                .who__command-item-content 
                                    p.who__command-item-name Чугаева Елена
                                    p.who__command-item-p куратор
                            .who__command-item 
                                .who__command-item-img 
                                    img(src="@img/person-3.png", alt="" draggable="false")
                                .who__command-item-content 
                                    p.who__command-item-name Чугаева Елена
                                    p.who__command-item-p менеджер по работе с клиентами
                            .who__command-item 
                                .who__command-item-img 
                                    img(src="@img/person-4.png", alt="" draggable="false")
                                .who__command-item-content 
                                    p.who__command-item-name Чугаева Елена
                                    p.who__command-item-p проектный менеджер
                            .who__command-item 
                                .who__command-item-img 
                                    img(src="@img/person-5.png", alt="" draggable="false")
                                .who__command-item-content 
                                    p.who__command-item-name Чугаева Елена
                                    p.who__command-item-p преподаватель
                            .who__command-item 
                                .who__command-item-img 
                                    img(src="@img/person-6.png", alt="" draggable="false")
                                .who__command-item-content 
                                    p.who__command-item-name Чугаева Елена
                                    p.who__command-item-p преподаватель
                    include components/qa 
                    +qa
            include components/footer 
            +footer
        script(src="js/app.min.js") 