doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")
        title Главная - Code It
    body 
        .wrapper 
            include components/header 
            +header('home') 
            main.main 
                section.section.intro  
                    .section__container.container.intro__body 
                        .section__inner.intro__inner
                            .intro__row
                                .intro__left 
                                    h1.intro__title Пожалуй, самый #[span важный вклад] в образование ваших детей —посвятить их в мир IT.
                                    p.intro__p Давайте выберем направление обучения! #[br] Сколько лет вашему ребенку?
                                    .intro__buttons 
                                        button(type="button" data-target="feedback").popup-open.intro__button 5-10 лет
                                        button(type="button" data-target="feedback").popup-open.intro__button 11-17 лет 
                                .intro__img 
                                    img(src="@img/intro-img.png", alt="")
                            .intro__content
                                
            include components/footer 
            +footer
        script(src="js/app.min.js") 